<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>33940977685-0pse6jg3hbun9jpua1f7f8f4ac1rot0e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.33940977685-0pse6jg3hbun9jpua1f7f8f4ac1rot0e</string>
	<key>API_KEY</key>
	<string>AIzaSyA6QvD7vGGcEIiyRHQsYsN0SC_Z-gpzkao</string>
	<key>GCM_SENDER_ID</key>
	<string>33940977685</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.untitled2.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>capstone-7a008</string>
	<key>STORAGE_BUCKET</key>
	<string>capstone-7a008.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:33940977685:ios:1d60d5d9de98ddf3d8f61c</string>
	<key>DATABASE_URL</key>
	<string>https://capstone-7a008-default-rtdb.firebaseio.com</string>
</dict>
</plist>